<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ktDomain" value="9i25n" /> <!-- https://xxx.cybozu.com -->
    <add key="ktLoginId" value="Administrator" />         <!-- kintone id  -->
    <add key="ktLoginPassword" value="4thebusiness" />   <!-- kintone password -->
    <add key="ktApiToken" value="7fNX9vv93wNYJZKwyvpi3k4ih0OzB2RTYniY6C0H" /> <!-- kintone api token (if you use. it takes precedence over LoginId & LoginPassword) -->
    <add key="toDoAppId" value="25" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>