<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ktDomain" value="9i25n" /> <!-- https://xxx.cybozu.com -->
    <add key="ktLoginId" value="Administrator" /> <!--  kintone id  -->
    <add key="ktLoginPassword" value="4thebusiness2017" />   <!-- kintone password -->
    <add key="toDoAppId" value="25" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>